/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

button {
  display: inline-block;
  padding: 0;
  margin: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

::marker {
  margin-top: 10px;
}

body {
  font-family: "FiraSans", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
  color: #FFFFFF;
  overflow-x: hidden;
  min-width: 100vw;
  background-color: #171919;
  text-transform: uppercase;
}

.slick-arrow svg {
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .slick-arrow:hover svg {
    color: #4AF6CD;
  }
}

.container {
  max-width: 1470px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.mobile-overflow {
  width: 62.5rem;
}

@font-face {
  font-family: "FiraSans";
  src: url(../fonts/FiraSans-Thin.woff2) format("woff2"), url(../fonts/FiraSans-Thin.woff) format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "FiraSans";
  src: url(../fonts/FiraSans-Light.woff2) format("woff2"), url(../fonts/FiraSans-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "FiraSans";
  src: url(../fonts/FiraSans-Regular.woff2) format("woff2"), url(../fonts/FiraSans-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "FiraSans";
  src: url(../fonts/FiraSans-Medium.woff2) format("woff2"), url(../fonts/FiraSans-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "FiraSans";
  src: url(../fonts/FiraSans-ExtraBold.woff2) format("woff2"), url(../fonts/FiraSans-ExtraBold.woff) format("woff");
  font-weight: 800;
  font-style: normal;
}
.header {
  position: relative;
  height: 100vh;
}
.header__title {
  position: absolute;
  font-size: 12.5rem;
  font-weight: 800;
  line-height: 0.78;
  color: #FFFFFF;
  opacity: 0.07;
  max-width: 29.1875rem;
  z-index: 4;
}
.header__map {
  position: absolute;
  top: -4.0625rem;
  right: 0;
  z-index: 3;
}
.header__line-animation {
  stroke-dashoffset: 600;
  stroke-dasharray: 600;
  animation: animdash 5s infinite 6s;
}
@keyframes animdash {
  to {
    stroke-dashoffset: 0;
  }
}
.header__aside {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 10.5rem;
  border-right: 0.0625rem solid #979797;
  height: 100vh;
  text-align: center;
}
.header__logo {
  cursor: pointer;
}
.header__logo:not(:last-child) {
  margin-bottom: 40px;
}
@media screen and (max-width: 1200px) {
  .header__logo:not(:last-child) {
    margin-bottom: calc(20px + 20 * (100vw - 320px) / 880);
  }
}
.header__search {
  margin-bottom: 1.25rem;
}
@media (any-hover: hover) {
  .header__search:hover svg {
    color: #4AF6CD;
  }
}
.header__date {
  margin-bottom: 1.25rem;
}
.header__date-num {
  font-size: 4.5rem;
  line-height: 0.8888888889;
  font-weight: 800;
  margin-bottom: 0.625rem;
}
.header__date span {
  font-size: 1rem;
  line-height: 1.1875;
  font-weight: 300;
}
.header__lacation {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.1666666667;
  letter-spacing: 0.065625rem;
  text-transform: capitalize;
}
.header__lacation ::before {
  content: url(../images/icons/location.svg);
  width: 0.6875rem;
  height: 0.8125rem;
  margin-right: 0.5rem;
}
.header__arrows {
  position: absolute;
  bottom: 1.875rem;
  left: 13.125rem;
  z-index: 3;
}
.header__arrows-link {
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .header__arrows-link:hover svg {
    color: #4AF6CD;
  }
}
.header__slider-item {
  position: relative;
  height: 100vh;
  background-color: #000;
  background-image: radial-gradient(62% 62% at 43% 49%, rgba(34, 34, 34, 0.43), rgb(15, 15, 15) 100%), url(../images/heder/hero-bg-1@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-mini-device-pixel-ratio: 2/1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .header__slider-item {
    background-image: radial-gradient(62% 62% at 43% 49%, rgba(34, 34, 34, 0.43), rgb(15, 15, 15) 100%), url(../images/heder/hero-bg-1@2x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (-o-mini-device-pixel-ratio: 3/1), screen and (-webkit-min-device-pixel-ratio: 2.375), screen and (min-resolution: 228dpi), screen and (min-resolution: 3dppx) {
  .header__slider-item {
    background-image: radial-gradient(62% 62% at 43% 49%, rgba(34, 34, 34, 0.43), rgb(15, 15, 15) 100%), url(../images/heder/hero-bg-1@3x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.slick-arrow {
  color: #FFFFFF;
  position: absolute;
  top: 2.5rem;
  z-index: 5;
}

.slick-next {
  right: 5rem;
}

.slick-prev {
  right: 7.8125rem;
}

.slider-item__info {
  position: absolute;
  right: 5rem;
  bottom: 7.25rem;
  text-align: right;
}
.slider-item__info-subtitle {
  margin-bottom: 0.3125rem;
}
.slider-item__info-title {
  margin-bottom: 3rem;
}
.slider-item__info-subtext {
  margin-bottom: 0.5rem;
}
.slider-item__info-text:not(:last-child) {
  margin-bottom: 1.25rem;
}
.slider-item__info-link svg {
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #FFFFFF;
}
@media (any-hover: hover) {
  .slider-item__info-link:hover svg {
    color: #4AF6CD;
  }
}

.titles {
  position: relative;
}
.titles h2 {
  position: relative;
  display: inline-block;
  left: 14.375rem;
  font-size: 5rem;
  color: #FFFFFF;
}
.titles h2::before {
  position: absolute;
  display: inline-block;
  content: "";
  background-color: #4AF6CD;
  width: 5rem;
  height: 0.0625rem;
  right: 0;
  top: 0.5rem;
}
.titles-bg {
  position: absolute;
  top: -1.875rem;
  left: -0.3125rem;
  font-size: 12.5rem;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.02);
  transform: translateX(-50px);
  display: inline-block;
}

.info-subtitle {
  color: #979797;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: 0.458125rem;
  position: relative;
  display: inline-block;
}
.info-subtitle--left::before, .info-subtitle--right::before {
  position: absolute;
  content: "";
  width: 5rem;
  height: 0.0625rem;
  background-color: #979797;
  top: 50%;
  transform: translateY(-50%);
}
.info-subtitle--left {
  padding-left: 6.4375rem;
}
.info-subtitle--left::before {
  left: 0;
}
.info-subtitle--right {
  padding-right: 6.4375rem;
}
.info-subtitle--right::before {
  right: 0;
}

.info-title,
.info-text {
  color: #FFFFFF;
  font-weight: 800;
  line-height: 1.075;
}

.info-title {
  font-size: 5rem;
}

.info-text {
  font-size: 2.5rem;
}
.info-text--margin-top {
  margin-top: 1.5625rem;
}
.info-text span {
  font-weight: 100;
}

.subtitle {
  text-align: right;
  padding-right: 5rem;
  margin-top: 3.125rem;
}

.slider-dots {
  position: absolute;
  right: 5rem;
  bottom: 2.5rem;
  max-width: 57.5rem;
  width: 100%;
  color: #FFFFFF;
  counter-reset: number;
}
.slider-dots__item {
  position: relative;
}
.slider-dots__box {
  width: 12.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-top: 0.25rem solid #4AF6CD;
  padding-top: 0.375rem;
}
.slider-dots__nunber {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.42;
}
.slider-dots__name {
  font-weight: 300;
  text-transform: capitalize;
}

.menu__item {
  margin-bottom: 27px;
  margin-bottom: 2.3125rem;
}
@media screen and (max-width: 1200px) {
  .menu__item {
    margin-bottom: calc(15px + 12 * (100vw - 320px) / 880);
  }
}
.menu__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.1666666667;
  letter-spacing: 0.1875rem;
  color: #FFFFFF;
  text-transform: capitalize;
}

.surf {
  padding: 10rem 0 7.5rem;
  background-image: url(../images/surf/surf-map.png);
  background-repeat: no-repeat;
  background-position: right 200px;
  background-size: auto;
}
.surf__slider {
  padding-top: 6.875rem;
  position: relative;
}
.surf__slider .slick-arrow {
  top: 3.125rem;
  color: rgba(255, 255, 255, 0.25);
}
.surf__slider .slick-slide:nth-child(4n+1) {
  margin-top: 2rem;
}
.surf__slider .slick-slide:nth-child(4n+3) {
  margin-top: 5.5625rem;
}
.surf__slider .slick-current .surf__box-inner {
  background-color: rgba(28, 33, 33, 0.3);
}
.surf__slider .slick-current .surf__box-inner-btn {
  display: block;
}
.surf__box {
  min-width: 25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  position: relative;
  margin-left: -2.5rem;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.surf__box-inner {
  min-height: 46.875rem;
  background-color: rgba(28, 33, 33, 0.85);
  position: relative;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .surf__box-inner:hover {
    background-color: rgba(28, 33, 33, 0.7);
  }
  .surf__box-inner:hover .surf__box-inner-btn {
    display: block;
  }
}
.surf__box-inner-title {
  padding: 4.5rem 0 0 2.5rem;
  width: 9.4375rem;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 0.9;
}
.surf__box-inner-location {
  font-size: 1.125rem;
  line-height: 1.2222222222;
  letter-spacing: 0.5rem;
  transform: rotate(-90deg);
  position: absolute;
  width: 0;
  height: 0;
  left: 2.5rem;
  bottom: 5rem;
  white-space: nowrap;
}
.surf__box-inner-location span {
  font-weight: 100;
}
.surf__box-inner-btn {
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 0;
  right: 0;
  display: none;
}
.surf__map-slider {
  max-width: 100%;
  min-height: 45.9375rem;
  background-image: url(../images/surf/world-map-dots.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  margin: 0 auto;
}
.surf__map-slider > .slick-list > .slick-track {
  transform: translate3d(0, 0, 0) !important;
}
.surf__map-slider .slick-list {
  min-height: 45.9375rem;
  overflow: visible;
}
.surf__map-slider .slick-current .surf__map-content {
  display: block;
}
.surf__map-dots {
  position: relative;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .surf__map-dots:hover .surf__map-dots-circle {
    scale: 1.4;
  }
  .surf__map-dots:hover .surf__map-content::before {
    scale: 1.4;
  }
}
.surf__map-dots--dots1 {
  top: 25rem;
  left: 9%;
}
.surf__map-dots--dots2 {
  top: 20.75rem;
  left: 6%;
}
.surf__map-dots--dots2 .surf__map-dots-circle {
  position: relative;
}
.surf__map-dots--dots2 .surf__map-dots-circle::before {
  position: absolute;
  content: "";
  background-image: url(../images/surf/mini-map.svg);
  background-size: cover;
  width: 0.875rem;
  height: 1.0625rem;
  top: -1rem;
  right: -0.9375rem;
}
.surf__map-dots--dots3 {
  top: 23.125rem;
  left: 7%;
}
.surf__map-dots--dots4 {
  top: 33.4375rem;
  left: 1%;
}
.surf__map-dots--dots5 {
  top: 15.875rem;
  left: -4%;
}
.surf__map-dots--dots6 {
  top: 37.5rem;
  left: -10%;
}
.surf__map-dots--dots7 {
  top: 27rem;
  left: -12%;
}
.surf__map-dots--dots8 {
  top: 32.9375rem;
  left: -5%;
}
.surf__map-dots-circle {
  width: 1.5rem;
  height: 1.4375rem;
  border-radius: 50%;
  background-color: #4AF6CD;
  box-shadow: 0px 0px 25px 0px rgba(74, 246, 205, 0.84);
  cursor: pointer;
}
.surf__map-content {
  display: none;
  position: absolute;
  width: 17.6875rem;
  padding: 1.75rem 1.9375rem 1.9375rem 2rem;
  background-color: rgba(15, 16, 16, 0.7);
  border-radius: 0.375rem;
  bottom: 2.1875rem;
  transform: translateX(-50%);
  z-index: 5;
}
.surf__map-content::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 1.25rem solid #4AF6CD;
  border-left: 0.75rem solid transparent;
  border-right: 0.75rem solid transparent;
  bottom: -1.3125rem;
  left: calc(50% - 0.5px);
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}
.surf__map-content-head {
  margin-bottom: 1.875rem;
}
.surf__map-content-title {
  font-size: 1.125rem;
  line-height: 1.4444444444;
  font-weight: 800;
  padding-bottom: 0.625rem;
  margin-bottom: 0.5rem;
  position: relative;
}
.surf__map-content-title::before {
  position: absolute;
  content: "";
  width: 5rem;
  height: 0.0625rem;
  background-color: #4AF6CD;
  bottom: 0;
  left: 0;
}
.surf__map-content-subtitle {
  text-transform: capitalize;
}
.surf__map-content-link {
  position: absolute;
  right: 31px;
  top: 29px;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .surf__map-content-link:hover .surf__map-content-link-svg {
    color: #4AF6CD;
  }
}
.surf__map-content-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.surf__map-content-number {
  font-weight: 800;
  line-height: 1.4375;
}
.surf__map-content-text {
  font-size: 0.625rem;
  line-height: 1.2;
  font-weight: 100;
}
.surf__map-content-coordinates {
  position: absolute;
  bottom: 50%;
  right: -188px;
  rotate: -90deg;
  transform: translatey(-50%);
  font-size: 1.125rem;
  line-height: 1.2222222222;
  letter-spacing: 0.3125rem;
  color: #979797;
}

.btn {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 0.9;
}
.btn span {
  position: relative;
  display: inline-block;
  padding: 1.0625rem 3.5625rem 0.9375rem 1.0625rem;
  background-color: #4AF6CD;
  margin-left: 1.1875rem;
}
.btn span::before {
  position: absolute;
  content: "";
  width: 1.25rem;
  height: 0.0625rem;
  background-color: #FFFFFF;
  top: 50%;
  transform: translateY(-50%);
  left: -0.625rem;
}
.btn span::after {
  position: absolute;
  content: url(../images/icons/arrow-right.svg);
  width: 1.5625rem;
  height: 1.3125rem;
  top: 37%;
  transform: translateY(-50%);
  right: 1.0625rem;
}/*# sourceMappingURL=style.css.map */