/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  font-family: "FiraSans", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
  color: #FFFFFF;
  overflow-x: hidden;
  min-width: 100vw;
  background-color: #000;
}

button {
  display: inline-block;
  padding: 0;
  margin: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

::marker {
  margin-top: 10px;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

.slick-arrow svg {
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .slick-arrow:hover svg {
    color: #4AF6CD;
  }
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  overflow-x: clip;
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (max-width: 1200px) {
  .section {
    padding-top: calc(20px + 20 * (100vw - 320px) / 880);
  }
}
@media screen and (max-width: 1200px) {
  .section {
    padding-bottom: calc(20px + 20 * (100vw - 320px) / 880);
  }
}

.section__background {
  padding-top: 55px;
  padding-bottom: 55px;
  position: relative;
}
@media screen and (max-width: 1620px) {
  .section__background {
    padding-top: calc(20px + 35 * (100vw - 320px) / 1300);
  }
}
@media screen and (max-width: 1620px) {
  .section__background {
    padding-bottom: calc(20px + 35 * (100vw - 320px) / 1300);
  }
}
.section__background::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 54%;
  height: calc(100% + 100px);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/background.jpg) top/cover no-repeat;
}
@media screen and (width < 660.01px) {
  .section__background::before {
    height: calc(100% + 44px);
    width: 100%;
  }
}

.flex {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.mobile-overflow {
  width: 62.5rem;
}

@font-face {
  font-family: "FiraSans";
  src: url(../fonts/FiraSans-Thin.woff2) format("woff2"), url(../fonts/FiraSans-Thin.woff) format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "FiraSans";
  src: url(../fonts/FiraSans-Light.woff2) format("woff2"), url(../fonts/FiraSans-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "FiraSans";
  src: url(../fonts/FiraSans-Regular.woff2) format("woff2"), url(../fonts/FiraSans-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "FiraSans";
  src: url(../fonts/FiraSans-Medium.woff2) format("woff2"), url(../fonts/FiraSans-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "FiraSans";
  src: url(../fonts/FiraSans-ExtraBold.woff2) format("woff2"), url(../fonts/FiraSans-ExtraBold.woff) format("woff");
  font-weight: 800;
  font-style: normal;
}
.header {
  position: relative;
  height: 100vh;
}
.header__title {
  position: absolute;
  font-size: 12.5rem;
  font-weight: 800;
  line-height: 0.78;
  color: #FFFFFF;
  opacity: 0.07;
  max-width: 29.1875rem;
  text-transform: uppercase;
  z-index: 4;
}
.header__map {
  position: absolute;
  top: -4.0625rem;
  right: 0;
  z-index: 3;
}
.header__line-animation {
  stroke-dashoffset: 600;
  stroke-dasharray: 600;
  animation: animdash 5s infinite 6s;
}
@keyframes animdash {
  to {
    stroke-dashoffset: 0;
  }
}
.header__aside {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 10.5rem;
  border-right: 0.0625rem solid #979797;
  height: 100vh;
  text-align: center;
  color: #FFFFFF;
}
.header__logo {
  cursor: pointer;
}
.header__logo:not(:last-child) {
  margin-bottom: 40px;
}
@media screen and (max-width: 1200px) {
  .header__logo:not(:last-child) {
    margin-bottom: calc(20px + 20 * (100vw - 320px) / 880);
  }
}
.header__search {
  margin-bottom: 1.25rem;
}
@media (any-hover: hover) {
  .header__search:hover svg {
    color: #4AF6CD;
  }
}
.header__date {
  margin-bottom: 1.25rem;
}
.header__date-num {
  font-size: 4.5rem;
  line-height: 0.8888888889;
  font-weight: 800;
  margin-bottom: 0.625rem;
}
.header__date span {
  font-size: 1rem;
  line-height: 1.1875;
  font-weight: 300;
}
.header__lacation {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.1666666667;
  letter-spacing: 0.065625rem;
}
.header__lacation ::before {
  content: url(../images/icons/location.svg);
  width: 0.6875rem;
  height: 0.8125rem;
  margin-right: 0.5rem;
}
.header__arrows {
  position: absolute;
  bottom: 1.875rem;
  left: 13.125rem;
  z-index: 3;
}
.header__arrows-link {
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .header__arrows-link:hover svg {
    color: #4AF6CD;
  }
}
.header__slider-item {
  position: relative;
  height: 100vh;
  background-color: #000;
  background-image: radial-gradient(62% 62% at 43% 49%, rgba(34, 34, 34, 0.43), rgb(15, 15, 15) 100%), url(../images/heder/hero-bg-1@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-mini-device-pixel-ratio: 2/1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .header__slider-item {
    background-image: radial-gradient(62% 62% at 43% 49%, rgba(34, 34, 34, 0.43), rgb(15, 15, 15) 100%), url(../images/heder/hero-bg-1@2x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (-o-mini-device-pixel-ratio: 3/1), screen and (-webkit-min-device-pixel-ratio: 2.375), screen and (min-resolution: 228dpi), screen and (min-resolution: 3dppx) {
  .header__slider-item {
    background-image: radial-gradient(62% 62% at 43% 49%, rgba(34, 34, 34, 0.43), rgb(15, 15, 15) 100%), url(../images/heder/hero-bg-1@3x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.slick-arrow {
  color: #FFFFFF;
  position: absolute;
  top: 2.5rem;
  z-index: 5;
}

.slick-next {
  right: 5rem;
}

.slick-prev {
  right: 7.8125rem;
}

.slider-item__info {
  position: absolute;
  right: 5rem;
  bottom: 7.25rem;
  text-align: right;
}
.slider-item__info-subtitle {
  margin-bottom: 0.3125rem;
}
.slider-item__info-title {
  margin-bottom: 3rem;
}
.slider-item__info-subtext {
  margin-bottom: 0.5rem;
}
.slider-item__info-text:not(:last-child) {
  margin-bottom: 1.25rem;
}
.slider-item__info-link svg {
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #FFFFFF;
}
@media (any-hover: hover) {
  .slider-item__info-link:hover svg {
    color: #4AF6CD;
  }
}

.info-subtitle {
  color: #979797;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: 0.458125rem;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}
.info-subtitle--left::before, .info-subtitle--right::before {
  position: absolute;
  content: "";
  width: 5rem;
  height: 0.0625rem;
  background-color: #979797;
  top: 50%;
  transform: translateY(-50%);
}
.info-subtitle--left {
  padding-left: 6.4375rem;
}
.info-subtitle--left::before {
  left: 0;
}
.info-subtitle--right {
  padding-right: 6.4375rem;
}
.info-subtitle--right::before {
  right: 0;
}

.info-title,
.info-text {
  color: #FFFFFF;
  font-weight: 800;
  line-height: 1.075;
  text-transform: uppercase;
}

.info-title {
  font-size: 5rem;
}

.info-text {
  font-size: 2.5rem;
}

.slider-dots {
  position: absolute;
  right: 5rem;
  bottom: 2.5rem;
  max-width: 57.5rem;
  width: 100%;
  color: #FFFFFF;
  counter-reset: number;
}
.slider-dots__item {
  position: relative;
}
.slider-dots__box {
  width: 12.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-top: 0.25rem solid #4AF6CD;
  padding-top: 0.375rem;
}
.slider-dots__nunber {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.42;
}
.slider-dots__name {
  font-weight: 300;
}

.menu__item {
  margin-bottom: 27px;
  margin-bottom: 2.3125rem;
}
@media screen and (max-width: 1200px) {
  .menu__item {
    margin-bottom: calc(15px + 12 * (100vw - 320px) / 880);
  }
}
.menu__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.1666666667;
  letter-spacing: 0.1875rem;
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */