.btn {
  font-size: clamp(1.25rem, calc(0.89rem + 1.79vw), 2.5rem);
  font-weight: 800;
  line-height: calc(36/40);

  span {
    position: relative;
    display: inline-block;
    padding: rem(17) rem(57) rem(15) rem(17);
    background-color: $accent;
    margin-left: rem(19);

    &::before {
      position: absolute;
      content: '';
      width: rem(20);
      height: rem(1);
      background-color: $white;
      top: 50%;
      transform: translateY(-50%);
      left: rem(-10);
    }

    &::after {
      position: absolute;
      content: url(../images/icons/arrow-right.svg);
      width: rem(25);
      height: rem(21);
      top: 50%;
      transform: translateY(-50%);
      right: rem(17);
    }
  }

}