.header {
  position: relative;
  height: 100vh;

  @keyframes opac {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  &__title {
    position: absolute;
    // @include adaptivevalue(font-size, 200, 130, 1920, 320, 1);
    font-size: clamp(7.5rem, calc(6.07rem + 7.14vw), 12.5rem);
    line-height: clamp(6.75rem, calc(5.89rem + 4.29vw), 9.75rem);
    // @include adaptivevalue(left, 0, 124, 1920, 1440, 1);
    font-weight: 800;
    color: $white;
    opacity: .07;
    width: rem(467);
    z-index: 4;
  }

  &__map {
    position: absolute;
    top: rem(-65);
    right: 0;
    z-index: 3;

    svg {
      @include adaptivevalue(width, 1001, 320, 1200, 320, 1);
    }
  }

  &__line-animation {
    stroke-dashoffset: 600;
    stroke-dasharray: 600;
    animation: animdash 5s 6s;
    animation-fill-mode: forwards;
    // animation: animdash 5s infinite 6s;
  }

  @keyframes animdash {
    to {
      stroke-dashoffset: 0;
    }
  }

  &__aside {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: auto;
    height: 100vh;
    text-align: center;
    border-right: rem(1) solid $gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }


  &__logo {
    cursor: pointer;

    &:not(:last-child) {
      @include adaptivevalue(margin-bottom, 40, 20, 1440, 320, 1);
    }

    &-svg {
      width: clamp(3.13rem, calc(1.02rem + 10.54vw), 10.5rem);
      // @include adaptivevalue(width, 168, 50, 1440, 320, 1);
    }
  }

  &__search {
    @media screen and (width > 1365.99px) {
      @include adaptivevalue(margin-bottom, 30, 20, 1920, 1440, 1);
      @include transition ($transition-property: (color, scale));
    }

    @media (any-hover: hover) {
      &:hover {
        svg {
          color: $accent;
          scale: 1.2;
        }
      }
    }
  }

  &__date {
    @include adaptivevalue(margin-bottom, 20, 10, 1920, 1440, 1);

    &-num {
      font-size: clamp(1.38rem, calc(0.48rem + 4.46vw), 4.5rem);
      line-height: calc(64/72);
      font-weight: 800;
      // @media screen and (width > 1365.99px) {
      //   @include adaptivevalue(margin-bottom, 10, 5, 1920, 1440, 1);
      // }
    }

    span {
      font-size: clamp(0.88rem, calc(0.84rem + 0.18vw), 1rem);
      line-height: calc(19/16);
      font-weight: 300;
    }

    &-time {
      display: block;
    }
  }

  &__location {
    font-size: rem(12);
    font-weight: 300;
    line-height: calc(14/12);
    letter-spacing: rem(1.05);
    text-transform: capitalize;
    margin-bottom: rem(45);

    &::before {
      content: url(../images/icons/location.svg);
      width: rem(11);
      height: rem(13);
      margin-right: rem(8);
    }
  }

  &__arrows {
    color: $white;
    position: absolute;
    left: clamp(11.69rem, calc(11.28rem + 2.05vw), 13.13rem);
    bottom: clamp(0.88rem, calc(0.59rem + 1.43vw), 1.88rem);
    z-index: 3;

    &-link {
      @include transition ($transition-property: color);

      @media (any-hover: hover) {
        &:hover {
          svg {
            color: $accent;
          }
        }
      }
    }
  }

  .slick-arrow {
    color: $white;
  }



  &__slider-item {
    position: relative;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media screen and (width < 1365.99px) {
    &__menu {
      display: none;
      animation: opac .57s;

      &.menu--open {
        position: absolute;
        display: block;
        // transform: translateX(0%);
        padding: rem(15);
        background-color: rgba($black, .65);
        border: rem(1) solid $accent;
        border-radius: rem(5);
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
        // transition: 0.3s ease;
        z-index: 12;
        top: 50%;
        transform: translateY(-50%);
        left: 112%;
      }
    }
  }


}