.header {
  position: relative;
  height: 100vh;

  &__title {
    position: absolute;
    @include adaptivevalue(font-size, 200, 130, 1920, 1440, 1);
    @include adaptivevalue(line-height, 156, 108, 1920, 1440, 1);
    @include adaptivevalue(left, 0, 124, 1920, 1440, 1);
    font-weight: 800;
    line-height: calc(156/200);
    color: $white;
    opacity: .07;
    max-width: rem(467);
    z-index: 4;
  }

  &__map {
    position: absolute;
    top: rem(-65);
    right: 0;
    z-index: 3;

    svg {
      @include adaptivevalue(width, 1001, 320, 1200, 320, 1);
    }
  }

  &__line-animation {
    stroke-dashoffset: 600;
    stroke-dasharray: 600;
    animation: animdash 5s infinite 6s;
  }

  @keyframes animdash {
    to {
      stroke-dashoffset: 0;
    }
  }

  &__aside {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    // width: rem(168);
    width: auto;
    height: 100vh;
    text-align: center;

    // @media screen and (width > 1365.99px) {
    border-right: rem(1) solid $gray;
    // }
  }



  &__logo {
    cursor: pointer;

    @media screen and (width > 1365.99px) {
      &:not(:last-child) {
        @include adaptivevalue(margin-bottom, 40, 20, 1920, 1440, 1);
      }
    }

    &-svg {
      // margin: 0 auto;
      // width: rem(168);
      @include adaptivevalue(width, 168, 50, 1440, 320, 1);

    }
  }

  &__search {
    @media screen and (width > 1365.99px) {
      @include adaptivevalue(margin-bottom, 30, 20, 1920, 1440, 1);
    }

    @media (any-hover: hover) {
      &:hover {
        svg {
          color: $accent;
        }
      }
    }
  }

  &__date {
    @include adaptivevalue(margin-bottom, 20, 10, 1920, 1440, 1);


    &-num {
      @include adaptivevalue(font-size, 72, 22, 1920, 320, 1);
      line-height: calc(64/72);
      font-weight: 800;

      @media screen and (width > 1365.99px) {
        @include adaptivevalue(margin-bottom, 10, 5, 1920, 1440, 1);
      }
    }

    span {
      @include adaptivevalue(font-size, 16, 14, 1920, 1440, 1);
      line-height: calc(19/16);
      font-weight: 300;
    }
  }

  &__lacation {
    font-size: rem(12);
    font-weight: 300;
    line-height: calc(14/12);
    letter-spacing: rem(1.05);
    text-transform: capitalize;

    ::before {
      content: url(../images/icons/location.svg);
      width: rem(11);
      height: rem(13);
      margin-right: rem(8);
    }
  }

  &__arrows {
    color: $white;
    position: absolute;
    @include adaptivevalue(left, 210, 187, 1920, 1440, 1);
    bottom: rem(30);
    z-index: 3;

    &-link {
      @include transition ($transition-property: color);

      @media (any-hover: hover) {
        &:hover {
          svg {
            color: $accent;
          }
        }
      }
    }
  }

  .slick-arrow {
    color: $white;
  }



  &__slider-item {
    position: relative;
    height: 100vh;
    background-color: #000;
    // background-image: (radial-gradient(62.00% 62.00% at 43% 49%, rgba(34, 34, 34, 0.43), rgb(15, 15, 15) 100%), url(../images/heder/hero-bg-1@1x.jpg));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media screen and (width < 1365.99px) {
    &__title {
      display: none;
    }

    &__arrows {
      left: rem(20);
    }

    // &__aside {
    //   position: absolute;
    //   width: auto;
    //   // height: 100%;
    //   height: auto;
    //   display: flex;
    //   align-items: self-start;
    // }

    &__logo {
      flex-shrink: 0;
    }

    &__search {
      padding: rem(30) rem(15) rem(15);
    }

    &__date {
      padding: rem(15);
    }

    &__lacation {
      padding-top: rem(30);
    }

  }

  @media screen and (width < .99px) {}
}