.holder {
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: auto;

  & .btn {
    text-align: center;
  }

  .slick-arrow {
    top: rem(-48);
    color: rgba($white, .25);

    @media screen and (width < 375.99px) {
      top: rem(160);
    }
  }
}