.holder-slider {

  &__subtitle {
    text-align: right;
  }

  &__head {
    min-height: rem(781);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: auto;

  }

  &__detailing {
    height: rem(385);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: auto;
    padding: rem(160) 0 0 rem(132);
    margin-top: rem(-270);
  }

  &__subtitle {
    padding: rem(80) rem(80) 0 0;
  }

  &__detailing-subtitle {
    text-align: left;
  }

  &__detailing-info-text {
    display: flex;
    align-items: last baseline;
    gap: rem(26);

    &--aic {
      align-items: center;
    }
  }

  &__info {
    margin-top: rem(90);
    display: flex;
    justify-content: space-around;
    margin-bottom: rem(66);

    &-item {
      display: flex;
      min-height: rem(200);
      position: relative;

    }

    &-descr {
      position: absolute;
      font-size: rem(18);
      line-height: calc(22/18);
      letter-spacing: rem(8);
      rotate: -90deg;
      color: $gray;
      top: rem(89);
      left: rem(-160);
      width: 100%;
      white-space: nowrap;
      text-align: right;
    }

    &-meaning {
      font-size: rem(40);
      font-weight: 800;
      line-height: calc(36/40);

      span {
        display: block;
        font-size: rem(14);
        font-weight: 400;
        line-height: calc(36/14);
        letter-spacing: rem(5);
        text-align: right;
        color: $gray;
      }
    }
  }
}