.menu {

  &__mobile {
    display: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: rem(37);
  }


  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rem(6);
    font-size: rem(12);
    font-weight: 500;
    line-height: calc(14/12);
    letter-spacing: rem(3);
    color: $white;
    text-transform: capitalize;
    @include transition ($transition-property: (color, scale));

    @media (any-hover: hover) {
      &:hover {
        color: $accent;
        scale: 1.2;

        &-svg {
          color: $accent;
        }
      }
    }
  }

  @media screen and (width < 1319.99px) {
    &__mobile {
      position: relative;
      display: block;
      cursor: pointer;
      width: rem(55);
      padding: rem(10);
      background-color: rgba($gray, .25);
      border-radius: rem(5);
      border: 1px solid $accent;
      line-height: 0;

      &-line {
        display: inline-block;
        width: 100%;
        height: rem(5);
        background-color: $accent;
        border-radius: rem(3);

        &:not(:last-child) {
          margin-bottom: rem(5);
        }
      }

      @include transition ($transition-property: scale);

      @media (any-hover: hover) {
        &:hover {
          scale: 1.1;
        }
      }
    }

    &__list {
      height: 70vh;
      gap: 0;
    }
  }

  // @media screen and (width < 1365.99px) {
  //   &__list {
  //     display: flex;
  //     align-items: center;
  //     gap: rem(15);
  //     text-align: center;
  //   }

  //   &__link {
  //     padding: rem(15);
  //   }
  // }

}