.menu {

  &__mobile {
    cursor: pointer;
    width: rem(90);
    padding: rem(20);
    background-color: rgba($gray, .25);
    border-radius: rem(5);
    border: 1px solid $accent;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // right: rem(20);
    // top: rem(40);
    // z-index: 10;
    line-height: 1;

    &-line {
      display: inline-block;
      width: 100%;
      height: rem(5);
      background-color: $accent;
      border-radius: rem(3);
      margin-bottom: rem(5);
    }

    @include transition ($transition-property: scale);

    @media (any-hover: hover) {
      &:hover {
        scale: 1.2;
      }
    }
  }



  &__item {
    margin-bottom: clamp(1.69rem, calc(1.51rem + 0.89vw), 2.31rem);
    // @include adaptivevalue(margin-bottom, 37, 25, 1920, 320, 1);
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rem(6);
    font-size: rem(12);
    font-weight: 500;
    line-height: calc(14/12);
    letter-spacing: rem(3);
    color: $white;
    text-transform: capitalize;
    @include transition ($transition-property: (color, scale));

    @media (any-hover: hover) {
      &:hover {
        color: $accent;
        scale: 1.2;

        &-svg {
          color: $accent;
        }
      }
    }
  }

  // @media screen and (width < 1365.99px) {
  //   &__list {
  //     display: flex;
  //     align-items: center;
  //     gap: rem(15);
  //     text-align: center;
  //   }

  //   &__link {
  //     padding: rem(15);
  //   }
  // }


  // @media screen and (width < 640.99px) {


  //   &__link {
  //     margin-bottom: rem(10);
  //   }

  //   &__item {
  //     margin-bottom: rem(10);
  //   }
  // }
}