.slider-item {

  &__info {
    position: absolute;
    right: clamp(2rem, calc(1.14rem + 4.29vw), 5rem);
    bottom: clamp(2.25rem, calc(0.82rem + 7.14vw), 7.25rem);
    text-align: right;
  }

  &__info-subtitle {
    margin-bottom: rem(5);
  }

  &__info-title {
    margin-bottom: rem(48);
  }

  &__info-subtext {
    margin-bottom: rem(8);
  }

  &__info-text {
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  &__info-link {
    svg {
      @include transition ($transition-property: color);
      color: $white;
    }

    @media (any-hover: hover) {
      &:hover {
        svg {
          color: $accent;
        }
      }
    }
  }
}