.slick-arrow {
  color: $gray;
  position: absolute;
  top: rem(40);
  z-index: 5;

  svg {
    @include transition ($transition-property: color);
  }

  @media (any-hover: hover) {
    &:hover {
      svg {
        color: $accent;
      }
    }
  }
}

.slick-next {
  // right: rem(80);
  right: clamp(2rem, calc(1.14rem + 4.29vw), 5rem);
}

.slick-prev {
  // right: rem(125);
  right: clamp(4.69rem, calc(3.79rem + 4.46vw), 7.81rem);
}