.slider-dots {
  position: absolute;
  // right: rem(80);
  right: rem(0);
  bottom: rem(40);
  max-width: clamp(12.5rem, calc(-0.54rem + 65.18vw), 58.13rem);
  width: 100%;
  color: $white;

  &__item {
    position: relative;
  }

  &__box {
    // width: rem(200);
    width: 22%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: rem(4) solid $accent;
    padding-top: rem(6);
  }

  &__nunber {
    font-size: rem(24);
    font-weight: 800;
    line-height: 1.42;
  }

  &__name {
    font-weight: 300;
    text-transform: capitalize;
  }

  @media screen and (width < 1023.99px) {
    display: none;
  }
}