.surf {
  padding: rem(135) 0 rem(120);
  background-image: url(../images/surf/surf-map.png);
  background-repeat: no-repeat;
  background-position: right 200px;
  background-size: auto;
  position: relative;

  &__subtitle {
    text-align: right;
    padding-right: rem(80);
    margin-top: rem(50);


  }



  &__slider {
    padding-top: rem(110);
    position: relative;
    height: rem(953);

    .slick-arrow {
      top: rem(50);
      color: rgba($white, .25);
    }

    .slick-slide:nth-child(4n + 1) {
      margin-top: rem(32);
    }

    .slick-slide:nth-child(4n + 3) {
      margin-top: rem(89);
    }

    .slick-current {
      .surf__box-inner {
        background-color: rgba($bacground, .3);
      }

      .surf__box-inner-btn {
        display: block;
      }
    }
  }



  &__box {
    min-width: rem(400);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    position: relative;
    margin-left: rem(-40);

    @include transition ($transition-property: all);

    &-inner {
      min-height: rem(750);
      background-color: $bacground;
      position: relative;
      @include transition ($transition-property: background-color);

      @media (any-hover: hover) {
        &:hover {
          background-color: rgba($bacground, .7);

          .surf__box-inner-btn {
            display: block;
          }
        }
      }

      &-title {
        padding: rem(72) 0 0 rem(40);
        width: rem(151);
        font-size: rem(40);
        font-weight: 800;
        line-height: calc(36/40);
      }

      &-location {
        font-size: rem(18);
        line-height: calc(22/18);
        letter-spacing: rem(8);
        transform: rotate(-90deg);
        position: absolute;
        width: 0;
        height: 0;
        left: rem(40);
        bottom: rem(80);
        white-space: nowrap;

        span {
          font-weight: 100;
        }
      }

      &-btn {
        position: absolute;
        bottom: 0;
        text-align: center;
        left: 0;
        right: 0;
        display: none;
      }
    }
  }

  &__map-slider {
    max-width: 100%;
    min-height: rem(735);
    background-image: url(../images/surf/world-map-dots.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    margin: 0 auto;

    & > .slick-list > .slick-track {
      transform: translate3d(0, 0, 0) !important;
    }

    .slick-list {
      min-height: rem(735);
      overflow: visible;
    }

    .slick-current {
      .surf__map-content {
        display: block;
      }
    }
  }

  &__map-dots {
    position: relative;

    @include transition ($transition-property: scale);

    @media (any-hover: hover) {
      &:hover {
        .surf__map-dots-circle {
          scale: 1.4;
        }

        .surf__map-content::before {
          scale: 1.4;
        }
      }
    }

    &--dots1 {
      top: rem(400);
      left: 9%;
    }

    &--dots2 {
      top: rem(332);
      left: 6%;

      .surf__map-dots-circle {
        position: relative;

        &::before {
          position: absolute;
          content: '';
          background-image: url(../images/surf/mini-map.svg);
          background-size: cover;
          width: rem(14);
          height: rem(17);
          top: rem(-16);
          right: rem(-15);

        }
      }
    }

    &--dots3 {
      top: rem(370);
      left: 7%;
    }

    &--dots4 {
      top: rem(535);
      left: 1%;
    }

    &--dots5 {
      top: rem(254);
      left: -4%;
    }

    &--dots6 {
      top: rem(600);
      left: -10%;
    }

    &--dots7 {
      top: rem(432);
      left: -12%;
    }

    &--dots8 {
      top: rem(527);
      left: -5%;
    }

  }

  &__map-dots-circle {
    width: rem(24);
    height: rem(23);
    border-radius: 50%;
    background-color: $accent;
    box-shadow: 0px 0px 25px 0px rgba(74, 246, 205, 0.84);
    cursor: pointer;
  }

  &__map-content {
    display: none;
    position: absolute;
    width: rem(283);
    padding: rem(28) rem(31) rem(31) rem(32);
    background-color: rgba(#0F1010, .7);
    border-radius: rem(6);
    bottom: rem(35);
    transform: translateX(-50%);
    z-index: 5;

    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-bottom: rem(20) solid $accent;
      border-left: rem(12) solid transparent;
      border-right: rem(12) solid transparent;
      bottom: rem(-21);
      left: calc(50% - .5px);
      border-bottom-left-radius: rem(10);
      border-bottom-right-radius: rem(10);
    }

    &-head {
      margin-bottom: rem(30);
    }

    &-title {
      font-size: rem(18);
      line-height: calc(26/18);
      font-weight: 800;
      padding-bottom: rem(10);
      margin-bottom: rem(8);
      position: relative;

      &::before {
        position: absolute;
        content: '';
        width: rem(80);
        height: rem(1);
        background-color: $accent;
        bottom: 0;
        left: 0;
      }
    }

    &-subtitle {
      text-transform: capitalize;
    }

    &-link {
      position: absolute;
      right: 31px;
      top: 29px;
      @include transition ($transition-property: color);

      @media (any-hover: hover) {
        &:hover {
          .surf__map-content-link-svg {
            color: $accent;
          }
        }
      }
    }

    &-list {
      display: flex;
      justify-content: space-between;
      text-align: center;
    }

    &-number {
      font-weight: 800;
      line-height: calc(23/16);
    }

    &-text {
      font-size: rem(10);
      line-height: calc(12/10);
      font-weight: 100;
    }

    &-coordinates {
      position: absolute;
      bottom: 50%;
      right: -188px;
      rotate: -90deg;
      transform: translatey(-50%);
      font-size: rem(18);
      line-height: calc(22/18);
      letter-spacing: rem(5);
      color: $gray;

    }
  }
}