.titles {
  position: relative;
  // width: rem(467);
  // outline: 1px solid green;
  text-align: right;
  padding-bottom: clamp(5.88rem, calc(4.16rem + 8.57vw), 11.88rem);


  h2 {
    position: absolute;
    top: rem(-1);
    left: 16%;
    font-size: clamp(2.5rem, calc(1.79rem + 3.57vw), 5rem);
    font-weight: 800;
    line-height: 1.95;
    color: $white;

    &::before {
      position: absolute;
      display: inline-block;
      content: '';
      background-color: $accent;
      // width: rem(80);
      width: clamp(2.5rem, calc(1.79rem + 3.57vw), 5rem);
      height: rem(1);
      right: 0;
      top: clamp(0.75rem, calc(0.54rem + 1.07vw), 1.5rem);
    }
  }

  &-bg {
    position: absolute;
    // top: rem(56);
    top: clamp(1.5rem, calc(0.93rem + 2.86vw), 3.5rem);
    left: -4%;
    font-size: clamp(5rem, calc(2.86rem + 10.71vw), 12.5rem);
    font-weight: 800;
    color: rgba($white, .02);
    display: inline-block;
    line-height: calc(156/200);
  }

  @media screen and (width < 1024.99px) {
    & h2 {
      left: 23%;
    }
  }

}


.info-subtitle {
  color: $gray;
  font-size: clamp(1rem, calc(0.89rem + 0.54vw), 1.38rem);
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: rem(7.33);
  text-transform: uppercase;
  position: relative;
  display: inline-block;

  &--left,
  &--right {

    &::before {
      position: absolute;
      content: '';
      width: rem(80);
      height: rem(1);
      background-color: $gray;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--left {
    padding-left: rem(103);

    &::before {
      left: 0;
    }
  }

  &--right {
    padding-right: rem(103);

    &::before {
      right: 0;
    }
  }


  @media screen and (width < 519.99px) {
    letter-spacing: normal;
  }
}

.info-title,
.info-text {
  color: $white;
  font-weight: 800;
  line-height: 1.075;
}

.info-title {
  font-size: clamp(1.56rem, calc(0.58rem + 4.91vw), 5rem);
}

.info-text {
  font-size: clamp(1.25rem, calc(0.89rem + 1.79vw), 2.5rem);

  &--margin-top {
    margin-top: clamp(0.63rem, calc(0.36rem + 1.34vw), 1.56rem);
  }

  span {
    font-weight: 100;
  }
}