.titles {
  position: relative;
  width: 467px;
  outline: 1px solid green;
  text-align: right;

  h2 {
    position: relative;
    top: rem(-1);
    right: rem(110);
    font-size: rem(80);
    font-weight: 800;
    line-height: 1.95;
    color: $white;

    &::before {
      position: absolute;
      display: inline-block;
      content: '';
      background-color: $accent;
      width: rem(80);
      height: rem(1);
      right: 0;
      top: rem(24);
    }
  }

  &-bg {
    position: absolute;
    top: rem(56);
    left: rem(-70);
    font-size: rem(200);
    font-weight: 800;
    color: rgba($white, .02);
    transform: translateX(-50px);
    display: inline-block;
    line-height: calc(156/200);
  }


}


.info-subtitle {
  color: $gray;
  font-size: rem(22);
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: rem(7.33);
  text-transform: uppercase;
  position: relative;
  display: inline-block;

  &--left,
  &--right {

    &::before {
      position: absolute;
      content: '';
      width: rem(80);
      height: rem(1);
      background-color: $gray;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--left {
    padding-left: rem(103);

    &::before {
      left: 0;
    }
  }

  &--right {
    padding-right: rem(103);

    &::before {
      right: 0;
    }
  }
}

.info-title,
.info-text {
  color: $white;
  font-weight: 800;
  line-height: 1.075;
}

.info-title {
  font-size: rem(80);
}

.info-text {
  font-size: rem(40);

  &--margin-top {
    margin-top: rem(25);
  }

  span {
    font-weight: 100;
  }
}

.subtitle {
  text-align: right;
  padding-right: rem(80);
  margin-top: rem(50);
}